<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <h1><b>WEATHER</b></h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>

        <img src="/assets/im.jpg">
        <ion-grid>
            <ion-row>
                <ion-col>

                    <br> {{value?.list[8].main.temp|number:'1.0-0'}}&deg;
                    <br> {{value?.list[8].dt_txt}}
                    <br>
                    <h5><b> {{value?.list[8].dt_txt  | date:'EE'}}</b></h5>
                </ion-col>
                <ion-col>

                    <br>{{value?.list[16].main.temp|number:'1.0-0'}}&deg;
                    <br>{{value?.list[16].dt_txt }}
                    <h5><b> {{value?.list[16].dt_txt  | date:'EE'}}</b></h5>
                </ion-col>
                <ion-col>

                    <br>{{value?.list[23].main.temp|number:'1.0-0'}}&deg;
                    <br>{{value?.list[23].dt_txt }}
                    <h5><b> {{value?.list[23].dt_txt  | date:'EE'}}</b></h5>
                </ion-col>

                <ion-col>

                    <br>{{value?.list[29].main.temp|number:'1.0-0'}}&deg;
                    <br>{{value?.list[29].dt_txt }}
                    <h5><b> {{value?.list[29].dt_txt  | date:'EE'}}</b></h5>
                </ion-col>

                <ion-col>

                    <br>{{value?.list[38].main.temp|number:'1.0-0'}}&deg;
                    <br>{{value?.list[38].dt_txt }}
                    <h5><b> {{value?.list[38].dt_txt  | date:'EE'}}</b></h5>
                </ion-col>


            </ion-row>
        </ion-grid>
    </ion-card>




    <ion-searchbar class="center" showCancelButton="focus" color="primary-shade" cancelButtonText="Cancel" (click)="getData()" [(ngModel)]="city"></ion-searchbar>
    <ion-button class="search" expand="full" (click)="getData()" color="primary">Search</ion-button>



    <div class="center">

        <h1>{{name}}</h1>
        <br>
        <img src="http://openweathermap.org/img/w/{{value?.list[0].weather[0].icon}}.png" class="image">
        <h2><b>{{value?.list[0].main.temp|number:'1.0-0'}}&deg;</b> </h2>
        <h5><b> {{value?.list[0].dt_txt  | date:'EEEE'}}</b></h5>


        <h5><b>{{value?.list[0].weather[0].description}}</b> </h5>


    </div>

    <br>
    <br>




</ion-content>